assemblyai==0.44.3
langchain-community
langchain-groq
langgraph
langchain-huggingface
vapi-server-sdk

langchain>=0.1.0
faiss-cpu
scikit-learn
numpy
pandas
tqdm
python-dotenv    
sentence-transformers